/* Typing Animation */
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

.animate-typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30) 1s forwards;
}

/* Scroll Fade Animation */
@keyframes scroll-fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.scroll-fade {
  animation: scroll-fade 1s ease-in-out;
}

/* Slide-In Animation */
@keyframes slide-in {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out;
}

/* Animasi Fade In ketika elemen berada di viewport */
@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Class untuk efek fade-in */
.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

/* Apply the slide-in animation to images in 'Eksplore Bali' */
.fade-in-image {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}
